body {
    background-color: aqua;
  }
  h1 {
    color: cornflowerblue;
                  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
                  font-size: 200%;
                  border: 6px solid yellow;
                  padding: 30px;

  }
  #p01 {
    color:green;
  }
  p {
    color: red;
    font-family: courier;
    font-size: 150%;
    margin: 100px;

   

  }